.fonct{
    width: 90%;
    margin-block: 1em;
    margin-inline: auto;
    &__menu{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 2em;
        padding: 0;
        &__list{
            min-width: 300px;
            max-width: 430px;
            background-color: rgb(245, 245, 245);
            @include shadow;
            font-size: 18px;
            font-weight: 700;
            padding-block: 2rem;
            margin-left: 15px;
            border-radius: 1.5rem;
            display: flex;
            position: relative;
            transition: background-color 150ms ease-in;
            &__txt{
                margin-left: 1em;
            }
            &__num{
                position: absolute;
                bottom: 1.5em;
                left: -1em;
                background-color: $prim-color;
                color: white;
                font-size: 18px;
                font-weight: 500;
                padding-inline: 0.6em;
                border-radius: 100%;
                padding-block: 0.2em;
            }
            > i {
                margin-left: 1.5em;
                margin-right: 0.5em;
                font-size: 23px;
                color: gray;
            }
            &::after{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 1.6rem;
                background-color: $prim-color;
                z-index: -1;
            }
            &:hover{
                background-color: rgba(255, 255, 255, 0.85);
                i {
                    color: $prim-color;
                }
            }
        }
    }
}