

.bg__resto{
    height: clamp(16em, 10vw, 30em);
    width: 100%;
    background-size: 120%;
    background-position: center;
    &--francaise{
        background-image: url(../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
    }
    &--palette{
        background-image: url(../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
    }
    &--note{
        background-image: url(../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
    }
    &--delice{
        background-image: url(../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
    }
}

.form{
    width: 100%;
    padding: 0;
    margin: 0;
}

.epd{
    width: 100%;
    padding: 0;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3em;
    gap: clamp(0.2em, 2vw, 10em);
}

input[type="radio"]{
   display: none;
}

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lighten($color: $black, $amount: 95%);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: -40px;
    padding-bottom: 6em;
    &__titre{
        @include widthm;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 2.5em;
        
        h1{
            margin: 0;
            margin-left: 1rem;
        }
        i {
            cursor: pointer;
            margin-right: 0.5em;
            font-size: 30px;
        }
    }
    &__select{
        @include widthm;
        display: flex;
        flex-direction: column;
        &__titre{
            width: max-content;
            margin-left: 0.5em;
            font-weight: 400;
        }
        &__choose{
            display: flex;
            margin: 0.5em;
            background-color: white;
            border-radius: 15px;
            overflow: hidden;
            @include shadowlight;
            &__card{
                cursor: pointer;
                display:flex;
                width: 100%;
                justify-content: space-between;
                height: 5em;
                overflow: hidden;
                &__descr{
                    margin: 0;
                    margin-top: 0.65em;
                    margin-left: 0.8em;
                    line-height: 1.8em;
                    padding-right: 1em;
                    font-size: 16px;
                    overflow: hidden;
                    
                    > span {
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
                &__prix{
                    font-size: 18px;
                    font-weight: 600;
                    align-self: flex-end;
                    margin-right: 0.75em;
                    overflow: visible;
                }
            }
        }
    }
}