.rest{
    width: 100%;
    background-color: lighten($color: $black, $amount: 95%);
     h2 {
        text-align: start;
        margin-bottom: 2em;
        margin-inline: 5%;
    }
}

.container--card{
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    width: clamp(300px, 200vw, 430px);
    background-color: white;
    border-radius: 1rem;
    @include shadowlight;
    margin: 1em;
    position: relative;
    &__new{
        position: absolute;
        right: 1em;
        top: 1em;
        background-color: $tert-color;
        padding: 0.5em 1em;
        border-radius: 4px;
        font-weight: 800;
        color: darken($color: $tert-color, $amount: 40%);
    }
    &--francaise,
    &--delice{
        .card__new{
            display: none;
        }
    }
    &__bg{
        height: 12rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        &--palette{
            background: url(../img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            @include bg;

        }
        &--note{
            background: url(../img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
            @include bg;
        }
        &--francaise{
            background: url(../img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            @include bg;
        }
        &--delice{
            background: url(../img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            @include bg;
        }
    }
    &__descr{
        height: 5rem;
        text-align: start;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        h3, p{
            margin: 0;
            margin-left: 1rem;
        }
        &__heart{
            width: 1.7em;
            height: 1.7em;
            padding-left: 1.5em;
            cursor: pointer;
            align-self: flex-end;
            padding-right: 2rem;
            }
        }
    }
