*{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    color: $black;
}
h1{
    font-family: 'Shrikhand', cursive;
}
h2{
    font-size: 30;
    font-weight: bolder;
}